<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
   <ui:decorate template="index.xhtml">
        <ui:define name="centro">
            <p:fieldset legend="Editar Contato" toggleable="true">
                <center>
                <h:form>                    
                    <h:panelGrid columns="3" id="grid" >
                        <p:outputLabel value="Nome: "/>
                        <p:inputText id="nome" value="#{contatoController.contatoB.nome}" required="true" requiredMessage="O campo Nome deve ser preenchido!"/>
                        <p:message for="nome"/>
                        
                        <p:outputLabel value="Endereço: "/>
                        <p:inputText id="endereco" value="#{contatoController.contatoB.endereco}" required="true" requiredMessage="O campo Endereço deve ser preenchido!"/>
                        <p:message for="endereco"/>
                        
                        <p:outputLabel value="Cidade: "/>
                        <p:inputText id="cidade" value="#{contatoController.contatoB.cidade}" required="true" requiredMessage="O campo Cidade deve ser preenchido!"/>
                        <p:message for="cidade"/>
                        
                        <p:outputLabel value="UF: "/>
                        <p:selectOneMenu id ="uf" value="#{contatoController.contatoB.uf}" required="true" requiredMessage="O campo UF deve ser preenchido!">
                            <f:selectItem itemLabel="SC" itemValue="SC"/>                            
                        </p:selectOneMenu>
                        <p:message for="uf"/>
                        
                        <p:outputLabel value="Telefone: "/>
                        <p:inputMask id="telefone" mask="(99)9999-9999" value="#{contatoController.contatoB.telefone}" required="true" requiredMessage="O campo Telefone deve ser preenchido!"/>
                        <p:message for="telefone"/>
                        
                        <p:outputLabel value="Celular: "/>
                        <p:inputMask id="celular" mask="(99)9999-9999" value="#{contatoController.contatoB.celular}"/>
                        <p:outputLabel value="*Opcional"/>
                                                
                        <p:outputLabel value="E-mail: "/>
                        <p:inputText id="email" value="#{contatoController.contatoB.email}"/>
                        <p:outputLabel value="*Opcional"/>
                       
                    </h:panelGrid>
                    
                    <p:separator style="width: 80%; height: 5px"/>
                    
                    <p:commandButton value="Salvar"  update="grid" action="#{contatoController.editarContato()}"/>
                    <p:commandButton value="Cancelar" action="listarcontatos"/>                    
                    
                </h:form>
                </center>
            </p:fieldset>
            
        </ui:define>
    </ui:decorate>
</html>

